<html>

<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1> Available Books of {{category.name}} are: </h1>

    {% for i in list %}

    <div class="displaylist">
        <p><a href="{{url_for('viewbook',c_id=category.id,b_id=i.id)}}">{{i.name}}</a></p>
        <a href="{{ url_for('deletebook',c_id=category.id,b_id=i.id)}}">Delete</a>
    </div>
    <br>
    {% endfor %}
    <br>
    <br>
    <a href="{{url_for('addbook',c_id=category.id)}}">Add Book</a>
</body>

</html>